.headerLogo {
    width: 160px;
}
body{
    background-color: #ffffff;
}
.title {
    justify-content: space-between;
    height: 92px;
    
}
.tabBar {
    height: 100%;
    width: 80%;
    text-align: right;
    margin-right: 20px;
    padding: 4px;
    letter-spacing: 0.5rem;

}
.description {
    font-size: 14px;
    color: #e9e9e9; /* Adjust color to match your design */
    margin-left: 10px; /* Space between title and description */
    align-self: flex-end; /* Align description to the bottom */
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
a{
    text-decoration: none;
}
.note {
    margin-right: 20px;
    color: #ffffff;
}
header{
    padding: 20px 20px 20px 20px;
    top: 0;
    left: 0;
    width: 100%; /* 滿寬 */
    z-index: 1000;
    box-sizing: border-box; /* 確保內邊距不影響寬度 */
    text-align: center;
    background-color: #4d2e06;
    border-bottom: 1px solid #4d2e061a;
}

.world{
    text-align: center;
    padding: 10px;
}

.world h1{
    font-size: 2.5em;
    color: #4d2e06;
    margin: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.allWorld{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.pic1img{
    width: 100%;
    max-width: 250px;
}
.pic2img{
    width: 100%;
    max-width: 250px;
}
.pic3img{
    width: 100%;
    max-width: 250px;
}
h2{
    color: #4d2e06;
}

footer {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #4d2e061a;
    background-color: #4d2e06;

}