.headerLogo {
    width: 160px;
}
body{
  background-color: #ffffff;
}
.title {
    justify-content: space-between;
    height: 92px;
    
}
.description12 {
    font-size: 14px;
    color: #e9e9e9; /* Adjust color to match your design */
    margin-left: 10px; /* Space between title and description */
    align-self: flex-end; /* Align description to the bottom */
}
.tabBar {
    height: 100%;
    width: 80%;
    text-align: right;
    margin-right: 20px;
    padding: 4px;
    letter-spacing: 0.5rem;

}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
a{
    text-decoration: none;
}
.note {
    margin-right: 20px;
    color: #ffffff;
}
header{
    padding: 20px 20px 20px 20px;
    top: 0;
    left: 0;
    width: 100%; /* 滿寬 */
    z-index: 1000;
    box-sizing: border-box; /* 確保內邊距不影響寬度 */
    text-align: center;
    background-color: #4d2e06;
    border-bottom: 1px solid #4d2e061a;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .content {
    display: flex;
    max-width: 800px;
    margin-bottom: 40px;
    align-items: center; /* Center aligns items vertically */
    justify-content: center; /* Center aligns items horizontally, if desired */
  }
  
  /* Add spacing between columns */
  .left-column {
    flex: 1;
    padding-right: 30px; /* Increase padding to create more distance */
    text-align: left;
    color: #4d2e06;
  }
  
  .right-column {
    flex: 1;
    padding-left: 30px; /* Increase padding to create more distance */
    text-align: center;
    color: #4d2e06;
  }
  
  .story1image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .car-caption {
    font-size: 14px;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0;
    color: #4d2e06;
  }
  
  h2 span {
    font-weight: bold;
    font-size: 28px;
    display: block;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: #4d2e06;
  }
  
  /* New styles for image on right and text on left */
  .image-right {
    flex-direction: row;
  }

  footer {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #4d2e061a;
    background-color: #4d2e06;
}